body {
  margin: 0;
  font-family: sans-serif;
}


.form-control label,
.form-control input {
    width: 100%;
    display: block;

}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control button,
.btn {
    background: #FF9800;
    font: inherit;
    border: 1px solid;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}

.form-control button:hover,
.form-control button:active {
    background: #E65100;
    border-color: #E65100;
}